<head>
  <link href="http://gmpg.org/xfn/11" rel="profile" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="title" property="og:title" content="Nami" />
  <meta name="description" property="og:description" content="Nami is a serverless framework for consuming webhooks at scale with Node.js and AWS">
  <meta name="type" property="og:type" content="website" />
  <meta name="url" property="og:url" content="https://nami-serverless.github.io/" />
  <meta name="image" property="og:image" content="{{ site.baseurl }}assets/nami_logo_name_only.png" />
  <meta name="author" content="Wendy Kuhn, Sachin Chandy, Nick Miller">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/poole.css">
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/syntax.css">
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/hyde.css">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:700%7CWork+Sans:300">

  <!-- Icons -->
  <link rel="icon" href="{{ site.baseurl }}public/favicon.ico">
</head>
